name: Build macOS App for Tkinter

on:
  workflow_dispatch:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          python3 -m pip install --upgrade pip
          pip3 install pyinstaller

      - name: Build macOS app
        run: |
          pyinstaller --onefile --windowed image_renamer.py

      - name: Upload build result
        uses: actions/upload-artifact@v4
        with:
          name: mac_app
          path: dist/*
